<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="telephone=no" name="format-detection" />
    <title>Email Template</title>
</head>
<style>
table {
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px
}
</style>

<body class="body" style="padding:0 !important; margin:100px !important; display:block !important; -webkit-text-size-adjust:none; background:.background-body"bgcolor="#dbdbdb">
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="540px" style="font-family: helvetica;" bgcolor="#ffffff" style="" >
  <tr>
      <tr>
        <td bgcolor=" #ffffff" border="1px solid black" >
            <center><img  style="height: 100px;" src="https://dreamaway-2.s3.us-east-2.amazonaws.com/Logo-DreamAway-gris-transparente.png"></center>
        </td>
      </tr>
      <tr>
        <td style="border-radius:15px 15px 0px 0px ; padding: 20px 0px 20px 0px; text-align: center; font-size: 30px; color: #000000;  " bgcolor="#ffffff">
          ¡Postulación Nueva!
        </td>  
      </tr>
      <tr>
        <td style="text-align: justify; padding: 5px 30px 5px 30px; color: #707070; font-size: 16px   "  bgcolor=" #ffffff">
          <center bgcolor=" #ffffff"></center>
            <br bgcolor=" #ffffff">
              <p> 
                Gran noticia, alguien ha postulado para ser parte de la comunidad como experto o asociación, esta es la información que ha suministrado:               
              </p>
        </td>
      </tr>
      <td bgcolor=" #ffffff">
               &nbsp; 
      </td>
       <tr>
        <td style="text-align: justify; padding: 5px 30px 5px 30px; color: #707070; font-size: 14px   "  bgcolor=" #ffffff">
              <span><strong style="font-size: 18px">Usuario</strong> : {{username}}</span>
                
        </td>
      </tr>
       <tr>
        <td style="text-align: justify; padding: 5px 30px 5px 30px; color: #707070; font-size: 14px   "  bgcolor=" #ffffff">
              <span><strong style="font-size: 18px">Correo</strong> : {{email}}</span>
        </td>


      </tr>
      <tr>
        <td style="text-align: justify; padding: 5px 30px 5px 30px; color: #707070; font-size: 14px   "  bgcolor=" #ffffff">
              <span><strong style="font-size: 18px">Contacto</strong> : {{phone}}</span>
                
        </td>
      </tr>
      <tr>
        <td style="text-align: justify; padding: 5px 30px 5px 30px; color: #707070; font-size: 14px   "  bgcolor=" #ffffff">
              <span><strong style="font-size: 18px">Mensaje</strong> : {{content}}</span>
                
        </td>
      </tr>
      <td bgcolor=" #ffffff">
               &nbsp; 
      </td>
      
     
       
  </tr>
</table>  
</body>

</html>